.item {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 280px;
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #e6e6fa;
}

.avatar {
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name {
  font-size: 30px;
}
